body{
    margin: 0;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #header{
    width: 100%;
    height: 60px;
    background-color: rgb(230, 227, 227);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 3;
  }
  
  #logo{
    height: 60px;
  }
  
  .dropbtn {
    background-color: rgb(230, 227, 227);
    color: rgb(66, 65, 65);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 100px;
    font-family: 'FF Mark W05', sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dbd4d4;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -15px;
  }
  
  .dropdown-content a {
    color: rgb(66, 65, 65);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'FF Mark W05', sans-serif;
    font-weight: 900;
    font-size: 10px;
  }
  
  .dropdown-content a:hover {background-color: #666565}
  .dropbtn:hover{
    border-bottom: 3px solid rgb(66, 65, 65);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ddd5d5;
  }
  
  .dropbtn2 {
    background-color: rgb(230, 227, 227);
    color: rgb(66, 65, 65);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 150px;
    font-family: 'FF Mark W05', sans-serif;
    font-weight: 700;
    margin-left: 10px;
    font-size: 14px;
  }
  
    
  
  .dropbtn2:hover{
    border-bottom: 3px solid rgb(66, 65, 65);
    background-color: #ddd5d5;
  }
  
  .dropdown2:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn3 {
    background-color: rgb(230, 227, 227);
    color: rgb(66, 65, 65);
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 100px;
    font-family: 'FF Mark W05', sans-serif;
    font-weight: 700;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .dropbtn3:hover{
    border-bottom: 3px solid rgb(66, 65, 65);
    background-color: #ddd5d5;
  }
  
  .dropdown3:hover .dropdown-content {
    display: block;
  }

  #MEDIA{
  color: rgb(66, 65, 65);
  font-family: 'FF Mark W05', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left: 21px;
  }
  
  .media{
  height: 50.5px;
  margin-top: 6px;
  width: 80px;
  margin-left: 10px;
  }
  
  .media:hover {
  border-bottom: rgb(66, 65, 65) 3px solid;
  }
  
  .media1{
  height: 50.5px;
  margin-top: 6px;
  width: 80px;
  margin-left: 20px;
  }
  
  .media1:hover {
  border-bottom: rgb(66, 65, 65) 3px solid;
  }
  
  #NEWS{
  color: rgb(66, 65, 65);
  font-family: 'FF Mark W05', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left: 20px;
  }
  
  svg{
  margin-left: 5px;
  }


  .content{
    height: 600px;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    
  }
  .content .images{
    height: 600px;
    width: 1000px;
    padding-left: 280px;
    
  }

  .images img{
    height: 100%;
    width: 100%;
  }
 
  video{
    width: 100%;
  }

  .Infront{
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    margin-top: -500px;
  }

  .imageVid{
    /* display: inline-block; */
    position: relative;
    width: 40vw;
    height: calc(17.6333vw);
    max-width: 37.5rem;
    max-height: 16.5312rem;
}
  
.imageVid1{
  /* position: absolute; */
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    -o-box-shadow:      12px 12px 29px #555;
    -khtml-box-shadow:  12px 12px 29px #555;
    -moz-box-shadow:    12px 12px 29px #555;
    -webkit-box-shadow: 12px 12px 29px #555;
    box-shadow:         12px 12px 29px #555;
}

.chat-now-content{
  width: 100%;
  justify-content: center;
  display: flex;
  height: 50px;
}

.chat-now{
  height: 50px;
  width: 200px;
  background-color: rgb(219, 64, 64);
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  font-family: 'FF Mark W05', sans-serif;
}

.chat-now:hover{
  background-color: tomato;
}

.chat-now-inside{
  height: 50px;
  width: 200px;
  justify-content: center;
  display: flex;
  background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
}


.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 40vh; 
  margin-top: 160px;
  background-color: rgb(228, 228, 228);
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  font-weight: 700;
  font-size: 12px;
  font-family: 'FF Mark W05', sans-serif;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

.text-rotate{
  transform: rotate(-90deg) translate(-50%, -50%);
  margin-left: 70px;
  color: black;
  height: 50px;
  font-weight: 700;
  font-size: 12px;
  font-family: 'FF Mark W05', sans-serif;
}

.container2{
  width: 100%;
  height: 900px;
  border-top: solid 1px black;
  background-color: rgb(238, 238, 238);
  text-align: center;
}

#p1{
  font-weight: 900;
  font-size: 100px;
  font-family: 'FF Mark W05', sans-serif;
}

#p2{
  font-weight: 600;
  font-size: 20px;
  font-family: 'FF Mark W05', sans-serif;
  text-align: justify;
  color: black;
}
 
#p3{
  font-weight: 600;
  font-size: 16px;
  font-family: 'FF Mark W05', sans-serif;
  color: #768079;
  text-align: justify;
  width: 300px;
}

.center{
  display: flex;
  justify-content: space-evenly;
}

.container3{
  width: 100%;
  height: 800px;
  background-color: rgb(0, 0, 0);
  margin-top: -15.5px;
  display: flex;
  justify-content: column;
  justify-content: space-evenly;
}

#what{
  color: white;
  font-weight: 900;
  font-size: 54px;
  font-family: 'FF Mark W05', sans-serif;
}

.WHAT{
  margin-top: 200px;
  width: 600px;
}

  /* HOVER for sth */
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
  figure.snip0016 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-width: 800px;
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    background: #000000;
    text-align: left;
  }
  figure.snip0016 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0016 img {
    max-width: 100%;
    opacity: 1;
    margin-top: 200px;
    margin-left: 100px;
    height: 400px;
    width: 600px;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.snip0016 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 100px;
    padding: 30px 3em;
    width: 600px;
    height: 400px;
    font-size: 35px;
  }
  figure.snip0016 figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-left: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0016 h2,
  figure.snip0016 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.snip0016 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(30%, 0%, 0);
    transform: translate3d(30%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0016 h2 span {
    font-weight: 800;
  }
  figure.snip0016 p {
    font-weight: 200;
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0016 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.snip0016:hover img {
    opacity: 0.3;
  }
  figure.snip0016:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  figure.snip0016:hover figcaption p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0016:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  