body{
    margin: 0px;
    padding: 0;
}

#container{
    width: 100%;
    height: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

#list-section{
    height: 100vh;
    width: 20%;
    
}

#searchbox{
    height: 40px;
    width: 95%;
    background-color: rgb(236, 235, 235);
    border-radius: 50px;
}

#users_list
{
    width: 100%;
}

#chat-section{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(211, 211, 211);
}

#chat-input{
    height: 45px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray
}

ul.space_list li { margin-bottom: 1em; }

#messages{
    position: relative;
    list-style-type: none;
    border: blue;
    
}

.chatRow{
    display: block;
    padding: 2px 8px 2px 8px;
    width: 100%;
    position: relative;
    display: flex;
}

.messageBox{
    background-color: lightblue;
    border-radius: 20px;
    padding: 2px 8px 2px 8px;
    max-width: 500px !important;
    display: inline-block;
    word-wrap: break-word;
    margin: 0;
}

#chat-message{
    height: 100%;
    width: 100%;
}

#chat{
    border-radius: 50px;
    background-color: rgb(28, 95, 182);
}

